<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="/icon.png" type="image/png">
    <style>
        html,
        body {
            height: 100%;
        }

        .container-fluid {
            flex: 1;
        }

        .container {
            min-width: 1250px;
        }

        .row {
            height: 100%;
        }

        div.fix_block {
            width: 257px;
            position: fixed;
            top: 75px;
            left: -2px;
        }

        .form-control {
            margin-left: auto;
            margin-right: auto;
            width: 200px
        }
    </style>
    <title>Admin panel</title>
</head>
<body class="bg-light">
<nav class="navbar navbar-dark bg-dark fixed-top d-flex justify-content-between">
            <span>
                <span class="navbar-brand font-weight-bold" th:text="${user.getEmail}"></span>
                <span class="navbar-brand" th:text="' with roles:'"></span>
                <span class="navbar-brand" th:each="role : ${user.getRoles()}" th:text="${role} + ' '"></span>
            </span>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</nav>

<div class="container-fluid" style="height: 100%">
    <div class="row flex-fill d-flex justify-content-start">
        <nav class="col-2 bg-white">
            <br><br><br>
            <div class="fix_block">
                <ul class="nav flex-column nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="/admin">Admin</a>
                    </li>
                </ul>
                <ul class="nav flex-column nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="/user">User</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="flex-grow-1 bg-light p-3">
            <br><br><br>
            <div class="container text-left">
                <h1>Admin panel</h1>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/admin/new">New User</a>
                    </li>
                </ul>

                <div class="card bg-white">
                    <h5 class="card-header">Add new user</h5>
                    <!--                    <div class="row justify-content-center align-items-center">-->
                    <div class="card-body">
                        <form th:action="@{/admin/add}" th:object="${user}" method="post">
                            <div class="card_height">
                                <div class="form-group text-center font-weight-bold">
                                    <label for="Name" class="col-form-label-sm">First name
                                        <input class="form-control form-control-sm" type="text" id="Name"
                                               name="name" placeholder="Name" style="max-height: 28px">
                                    </label>
                                    <br>
                                    <label for="lastName" class="col-form-label-sm">Last name
                                        <input class="form-control form-control-sm" type="text" id="lastName"
                                               name="lastName" placeholder="Last name" style="max-height: 28px">
                                    </label>
                                    <br>
                                    <label for="age" class="col-form-label-sm">Age
                                        <input class="form-control form-control-sm" type="number" id="age"
                                               name="age" placeholder="Age" style="max-height: 28px">
                                    </label>
                                    <br>
                                    <label for="email" class="col-form-label-sm">Email
                                        <input class="form-control form-control-sm" type="text" id="email" name="email"
                                               placeholder="Email" style="max-height: 28px">
                                    </label>
                                    <br>
                                    <label for="userPassword" class="col-form-label-sm">Password
                                        <input class="form-control form-control-sm" type="password" id="userPassword"
                                               name="userPassword" placeholder="Password" style="max-height: 28px">
                                    </label>
                                    <br>
                                    <label>Role
                                        <select multiple class="form-control form-control-sm" size="2"
                                                name="checkBoxRoles">
                                            <option>ADMIN</option>
                                            <option selected>USER</option>
                                        </select>
                                    </label>
                                    <br>
                                    <button href="/admin/add" type="submit" class="btn btn-success">Add new user
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>