<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User info</title>
</head>
<body>
<h2> Your info </h2>
<br>
<table border="3">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Last name</th>
    <th>Email</th>
  </tr>
  <tr>
    <td th:text="${user.getUserInfo().getId()}">id</td>
    <td th:text="${user.getUserInfo().getName()}">name</td>
    <td th:text="${user.getUserInfo().getLastName()}">lastname</td>
    <td th:text="${user.getUserInfo().getEmail()}">email</td>
  </tr>
</table>
<br>
<br>
<h3><a href="/logout">Logout</a></h3>
</body>
</html>
